/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/components/_window.scss */
.window {
  position: absolute;
  left: calc(50vw - 225px);
  top: calc(50vh - 125px);
  width: 450px;
  height: 250px;
  z-index: 10000;
  background-color: rgba(37, 37, 37, 0.85);
  border: 1px solid #c9c9c9;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 31, ../sass/components/_window.scss */
.window.window--resizing, .window.window--moving {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 34, ../sass/components/_window.scss */
.window.window--active {
  z-index: 10001;
}
/* line 37, ../sass/components/_window.scss */
.window.window--maximized {
  bottom: 5px !important;
  top: auto !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}
/* line 44, ../sass/components/_window.scss */
.window.window--minimized {
  height: 25px !important;
  width: 180px !important;
  bottom: 5px !important;
  top: auto !important;
  left: 5px !important;
}
/* line 50, ../sass/components/_window.scss */
.window.window--minimized .window-content {
  display: none;
}
/* line 54, ../sass/components/_window.scss */
.window.window--destroyed {
  opacity: 0;
  width: 0;
  height: 0;
}
/* line 59, ../sass/components/_window.scss */
.window .window-header {
  background-color: #eee;
  height: 25px;
}
/* line 62, ../sass/components/_window.scss */
.window .window-header .window-controls {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
/* line 67, ../sass/components/_window.scss */
.window .window-header .window-controls .control-item {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #333;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
/* line 75, ../sass/components/_window.scss */
.window .window-header .window-controls .control-item:hover {
  background-color: #ccc;
}
/* line 78, ../sass/components/_window.scss */
.window .window-header .window-controls .control-item.control-close {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
/* line 83, ../sass/components/_window.scss */
.window .window-header .window-controls .control-item.control-close:hover {
  background-color: #ec6060;
  color: #fff;
}
/* line 88, ../sass/components/_window.scss */
.window .window-header .window-controls .control-item.control-maximize {
  line-height: 19px;
}
/* line 91, ../sass/components/_window.scss */
.window .window-header .window-controls .control-item.control-minimize {
  line-height: 22px;
}
/* line 97, ../sass/components/_window.scss */
.window .window-content {
  overflow: auto;
  height: calc(100% - 25px);
}
/* line 5, ../sass/components/_window.scss */
.window .window-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* line 10, ../sass/components/_window.scss */
.window .window-content::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}
/* line 14, ../sass/components/_window.scss */
.window .window-content::-webkit-scrollbar-track {
  background: #eeeeee;
}

/**
 * Remove JQuery UI properties
 */
/* line 107, ../sass/components/_window.scss */
.ui-resizable-handle {
  background: none;
}

/* line 11, ../sass/components/_terminal.scss */
.terminal {
  min-height: 100%;
  background: #232323;
  color: #FFF;
  font-family: monospace;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
/* line 20, ../sass/components/_terminal.scss */
.terminal *::selection {
  background: #FFF;
  /* WebKit/Blink Browsers */
  text-shadow: 0 0 0 #232323;
}
/* line 24, ../sass/components/_terminal.scss */
.terminal *::-moz-selection {
  background: #FFF;
  /* Gecko Browsers */
  text-shadow: 0 0 0 #232323;
}
/* line 28, ../sass/components/_terminal.scss */
.terminal .prompt {
  color: transparent;
  text-shadow: 0 0 0 #FFF;
}
/* line 31, ../sass/components/_terminal.scss */
.terminal .prompt.error {
  text-shadow: 0 0 0 #D24D57;
}
/* line 34, ../sass/components/_terminal.scss */
.terminal .prompt pre {
  margin: 0;
}
/* line 37, ../sass/components/_terminal.scss */
.terminal .prompt .pulse {
  -moz-animation: pulse 1s ease-in-out infinite;
  -webkit-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
  text-shadow: 0 0 0 #32c146;
}
/* line 41, ../sass/components/_terminal.scss */
.terminal .prompt .command {
  text-shadow: 0 0 0 #32c146;
  outline: none;
}
/* line 47, ../sass/components/_terminal.scss */
.terminal .comment {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 11, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/screen.scss */
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  overflow: hidden;
}
